.nicetable table {
    border-collapse: collapse;
}

.nicetable table, th, td {
    border: 1px solid black;
    padding: 10px;
}

.nicetable th {
    color: #15317E;
    font-weight: bold;
}

.centered{
	text-align: center;
}