.ui-datepicker {
  background: #fff;
}

pre {
    font-size: 13px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    line-height: 1.30769231;
    color: var(--highlight-color);
    background-color: #DDDDDD;
    border-radius: 5px;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    padding: 12px;
    overflow: auto;
    scrollbar-color: var(--scrollbar) transparent;
}
table.border tr{
    border-collapse: collapse;
}
.regform-done-caption {
    border-bottom: 1px dashed #e1e1e1;
    border-right: 1px dashed #e1e1e1;
    text-align: right;
    padding: 0 8px 0 0;
    width: 120px;
}
.regform-done-title{
    border-bottom: 1px solid #e1e1e1;
}

.icon {
	width: 10px;
}

pre {
    font-size: 13px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    line-height: 1.30769231;
    color: var(--highlight-color);
    background-color: #DDDDDD;
    border-radius: 5px;
    margin: 0;
        margin-top: 0px;
        margin-bottom: 0px;
    padding: 12px;
    overflow: auto;
    scrollbar-color: var(--scrollbar) transparent;
}
